*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  text-align: center;
  background-color: #31313B;
}

.wifi-symbol {
  display: none;
}

 .wifi-symbol {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: -187px;
  transform: rotate(-45deg) translate(-100px);
}

.wifi-symbol .wifi-circle {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-color: #FFFFCC;
  border-style: solid;
  border-width: 1em 1em 0 0;
  border-radius: 0 100% 0 0;
  opacity: 0;
  animation: wifianimation 3s infinite;
}
.wifi-symbol .wifi-circle.first {
  animation-delay: 800ms;
}
.wifi-symbol .wifi-circle.second {
  width: 5em;
  height: 5em;
  animation-delay: 400ms;
}
.wifi-symbol .wifi-circle.third {
  width: 3em;
  height: 3em;
}
.wifi-symbol .wifi-circle.fourth {
  width: 1em;
  height: 1em;
  opacity: 1;
  background-color: #FFFFCC;
  animation: none;
}

@keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}